@charset "utf-8";

/* 320px 이하사이즈 */
@media(max-width: 320px){
    /* radio */
    input[type=radio]{display:inline-block;position:absolute;/*left:-9999px;*/opacity:0;}
    input[type=radio]+label{display:inline-block;cursor:pointer;position:relative;padding-left:25px;line-height:20px;margin:0 10px 0px 0;}
    input[type=radio]+label:before{content:"";display:inline-block;width:20px;height:20px;position:absolute;left:0;top:0px;background:url('../images/cn/btn/btn_radio_off.png') left top no-repeat;background-size:20px 20px}
    input[type=radio]:checked+label:before{background:url('../images/cn/btn/btn_radio_on.png') left top no-repeat;text-align:center;line-height:20px;background-size:20px 20px}
    input[type=radio]:disabled+label:before{background:url('../images/cn/btn/btn_radio_disabled.png') left top no-repeat;text-align:center;line-height:20px;background-size:20px 20px}
}

/* global */
#daumIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0} /* 스킵네비게이션 */
.ir_pm{display:inline-block;overflow:hidden;font-size:1px;line-height:1px;color:rgba(0,0,0,0);width:1px;height:1px;margin:-1px 0 0 -1px;} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할 때 */
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-10;width:100%;height:100%;}/* 중요한 이미지 데체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때  */
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;color:rgba(0,0,0,0)}/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.bg_none{background:none !important;}
.ov_hide{overflow:hidden;}
.f_l{float:left !important;}
.f_r{float:right !important;}
.al_l{text-align:left !important;}
.al_r{text-align:right !important;}
.al_c{text-align:center !important;}
.cl_b{width:0;height:0;font-size:0;line-height:0;clear:both;}
.show{display:block;}
.hide{display:none} 
.tbl{border-collapse:collapse;border-spacing:0;}/* 테이블 초기화 */
.clear_g{display:block;overflow:visible;width:auto;clear:both;*zoom:1;}
.clear_g:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:'';}
p.tabTitHidd {font-size:1px;height:1px;width:1px;line-height:1px;overflow:hidden;color:transparent;} /* 숨김타이틀 */

.ft_bold{font-weight:700 !important;}

h1{margin:26px 0;text-align:center;font-size:20px;letter-spacing:-1px}

/* 테이블내 라디오박스,입력박스등의 정렬용(320이하 해상도 대응) */
td > ol.lineSort {width:100%;display:inline-block;}
td > ol.lineSort > li {float:left;}
td > ol.lineSort > li select {width:auto;}
td > ol.lineSort > li+li {margin-left:10px;}
td > ol.lineSort.depth2 li {width:45%;}
td > ol.lineSort.depth2 li select {width:70%;}

/* font size */
.ft_15{font-size:15px!important;}
.ft_14{font-size:14px!important;}
.ft_12{font-size:12px!important;}
.ft_10{font-size:10px!important;}

/* line-height */
.lh_35{line-height:35px}
.lh_40{line-height:40px}

/* vertical-align */
.vaT{vertical-align:top !important;}
.vaB{vertical-align:bottom !important;}
.vaM{vertical-align:middle !important;}

/* position */
.post_ab {position:absolute !important;}
.post_re {position:relative !important;}
.post_fx {position:fixed !important;}
.post_st {position:static !important;}

/* width */
.widP05{width:5%!important}
.widP10{width:10%!important}
.widP15{width:15%!important}
.widP20{width:20%!important}
.widP25{width:25%!important}
.widP30{width:30%!important}
.widP35{width:35%!important}
.widP40{width:40%!important}
.widP45{width:45%!important}
.widP50{width:50%!important}
.widP55{width:55%!important}
.widP60{width:60%!important}
.widP65{width:65%!important}
.widP70{width:70%!important}
.widP75{width:75%!important}
.widP80{width:80%!important}
.widP85{width:85%!important}
.widP90{width:90%!important}
.widP95{width:95%!important}
.widP100{width:100%!important}

/* height */
.heiPX100 {height:100px !important;}
.heiPX200 {height:200px !important;}

/* margin */
.ma_0{margin:0px!important}
.ma_5{margin:5px!important}
.ma_10{margin:10px!important}
.ma_15{margin:15px!important}
.ma_20{margin:20px!important}
.ma_25{margin:25px!important}
.ma_30{margin:30px!important}

.mt_0{margin-top:0px!important}
.mt_5{margin-top:5px!important}
.mt_10{margin-top:10px!important}
.mt_15{margin-top:15px!important}
.mt_20{margin-top:20px!important}
.mt_25{margin-top:25px!important}
.mt_30{margin-top:30px!important}

.mr_0{margin-right:0px!important}
.mr_5{margin-right:5px!important}
.mr_10{margin-right:10px!important}
.mr_15{margin-right:15px!important}
.mr_20{margin-right:20px!important}
.mr_25{margin-right:25px!important}
.mr_30{margin-right:30px!important}

.mb_0{margin-bottom:0px!important}
.mb_5{margin-bottom:5px!important}
.mb_10{margin-bottom:10px!important}
.mb_15{margin-bottom:15px!important}
.mb_20{margin-bottom:20px!important}
.mb_25{margin-bottom:25px!important}
.mb_30{margin-bottom:30px!important}
.mb_50{margin-bottom:50px !important;}

.ml_0{margin-left:0px!important}
.ml_5{margin-left:5px!important}
.ml_10{margin-left:10px!important}
.ml_15{margin-left:15px!important}
.ml_20{margin-left:20px!important}
.ml_25{margin-left:25px!important}
.ml_30{margin-left:30px!important}


/* padding */
.pa_0{padding:0px !important;}
.pa_5{padding:5px !important;}
.pa_10{padding:10px !important;}

.pt_0{padding-top:0px !important;}
.pt_5{padding-top:5px !important;}
.pt_10{padding-top:10px !important;}
.pt_20 {padding-top:20px !important;}

.pr_0{padding-right:0px !important;}
.pr_5{padding-right:5px !important;}
.pr_10{padding-right:10px !important;}
.pr_12{padding-right:12px !important;}

.pb_0{padding-bottom:0px !important;}
.pb_5{padding-bottom:5px !important;}
.pb_10{padding-bottom:10px !important;}

.pl_0{padding-left:0px !important;}
.pl_5{padding-left:5px !important;}
.pl_10{padding-left:10px !important;}
.pl_12{padding-left:12px !important;}

.pd_0 {padding:0;}
.pd_10 {padding:10px;}

/* color */
.cl_point{color:#0065b3 !important;}
.cl_point01{color:#f44343 !important;}
.cl_point02{color:#cc6633 !important;}
.cl_point03{color:#000 !important;}
.cl_point04{color:#3598db !important;}
.cl_bank{color:#1046a0 !important;}
.cl_sang{color:#339900 !important;}

.bcl_point01{background-color:#f0f0f0 !important;}

/* border */
.bd_0 {border:0 !important;}

/* step */
.step_area{margin-bottom:26px;}
.step_area>.step_top{overflow:hidden;position:relative;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;padding:0 34px 11px 0;}
.step_area>.step_top>ul{overflow:hidden;width:100%;}
.step_area>.step_top>ul>li{float:left;border:solid 1px #999;border-left:0;line-height:28px;font-size:11px;color:#444;text-align:center;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.step_area>.step_top>ul>li>span{display:inline-block;overflow:hidden;font-size:0;line-height:0;color:rgba(0,0,0,0)}
.step_area>.step_top>ul>li:first-child{-khtml-border-top-left-radius:5px;-moz-border-top-left-radius:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;-khtml-border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;border-left:solid 1px #999;}
.step_area>.step_top>ul>li:last-child{-khtml-border-top-right-radius:5px;-moz-border-top-right-radius:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-khtml-border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;margin-right:-3px;}
.step_area>.step_top>ul>li.on{background:#1046a0;border-color:#1046a0;color:#fff;margin-left:-1px;padding-left:1px;}
.step_area>.step_top>ul>li.on:first-child{margin-left:0;padding-left:0;}
.step_area>.step_top>ul>li.on+li{border-left-color:#1046a0;}
.step_area>.step_top>ul.step02>li{width:50%;}
.step_area>.step_top>ul.step03>li{width:33.33333%;}
.step_area>.step_top>ul.step04>li{width:25%;}
.step_area>.step_top>ul.step05>li{width:20%;}
.step_area>.step_top>ul.step06>li{width:16.66666%;}
.step_area>.step_top>ul.step07>li{width:14.28571%;}
.step_area>.step_top>ul.step08>li{width:12.5%;}
.step_area>.step_top>ul.step09>li{width:11.11111%;}
.step_area>.step_top>.step_info{-khtml-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;display:inline-block;overflow:hidden;font-size:0;line-height:0;color:rgba(0,0,0,0);background:url(../images/cn/icon/step_info.png) center center no-repeat #303030;background-size:13px 16px;width:29px;height:29px; position:absolute;top:0;right:0;}
.step_area>h2{text-align:center;font-size:18px;color:#1046a0;}

/* button */
.btn_area{overflow:hidden;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;width:100%;position:relative;}
.btn_com{-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#fff;color:#333;display:inline-block;text-align:center;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;letter-spacing:-1px;border:solid 1px #777;min-width:60px;line-height:33px;padding:0 10px;}
.btn_pop{background:url('../images/cn/btn/btn_usSearch.png') right top no-repeat #fff;background-size: 10px 10px;}
.btn_area .btn_25:last-child, .btn_area .btn_50:last-child, .btn_area .btn_30:nth-child(3n), .btn_area .btn_30:last-child,
.btn_area01 .btn_25:last-child, .btn_area01 .btn_50:last-child, .btn_area01 .btn_30:nth-child(3n), .btn_area01 .btn_30:last-child{margin-right:0}

.btn_act{background:#1046a0;color:#fff;border-color:#1046a0;}
.btn_sub{font-size:12px!important;padding:0 7px; line-height:26px;color:#666;border-color:#999;}
.btn_sub01{font-size:12px!important;padding:0 7px; line-height:26px;color:#fff;border-color:#666;background:#666;}
.btn_disabled{opacity:0.5;pointer-events:none; cursor:default;}
.btn_view>span{display:inline-block;width:15px;height:12px;background:url('../images/cn/btn/btn_view.png') left top no-repeat;background-size:15px 12px;margin-right:5px}
.btn_area>.btn_com, .btn_area>.advice_area>.btn_com{padding:13px 0;line-height:inherit}
.btn_area>.btn_25, .btn_area01>.btn_25{width:23.5%;float:left;margin:0 2% 5px 0}
.btn_area>.btn_50, .btn_area01>.btn_50{width:49%;float:left;margin:0 2% 5px 0}
.btn_area>.btn_30, .btn_area01>.btn_30,.btn_area>.advice_area>.btn_30{width:32%;float:left;margin:0 2% 5px 0}
.btn_area>.btn_60, .btn_area01>.btn_60{width:64%;float:left;margin:0 2% 5px 0}
.btn_area>.btn_all, .btn_area01>.btn_all{width:100%;}
.btn_area>.btn_gray{background:#666;color:#bcbcbc;}
.advice_area .zindx {z-index:1000;}

/* table */
table{width:100%;border:1px solid #ccc;margin-bottom:20px;}
table caption{overflow:hidden;width:1px;height: 1px;padding:0;margin-top: -1px;font-size: 0;line-height: 0;color:rgba(0,0,0,0)!important;}
table th, table td {
    padding: 10px 10px;
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-bottom:solid 1px #ccc;
    color:#333;
    }  /*150623*/
table th, table td a {color:#333;}
table th{background:#f0f0f0;text-align:left;border-right:solid 1px #ccc;}
table td{background:#fff;}

table.tdBdR_taL th {font-weight:normal;}
table.tdBdR_taL td {border-right:1px solid #ccc;text-align:left;}
table.tdBdR_taL td.amt {text-align:right;color:#0065b3;}

table.tdBdR_taC th {text-align:center;}
table.tdBdR_taC td {text-align:center;border-right:1px solid #ccc;}

table td>p{padding-bottom:10px;}
table td>p:last-child{padding-bottom: 0px}

table.first_tb{border-top:solid 2px #333;}
table.row_full th{border:none;}
table.row_full td .tdBdR_taL th,
table.row_full td .tdBdR_taL td,
table.row_full td .tdBdR_taL tfoot tr:first-child th{border-top:1px solid #ccc;}
table.row_full td .tdBdR_taL tr:first-child th{border-top:none;}
table.row_full td .tdBdR_taL th,
table.row_full td .tdBdR_taL td{border-left:1px solid #ccc;}
table.row_full td .tdBdR_taL tr th:first-child,
table.row_full td .tdBdR_taL tr td:first-child{border-left:none;}

.tb_break th, .tb_break td{word-break:break-all;}
.tb_noti{color:#777;}

table th a{display:block;}

/* iscroll table*/
.tb_iscroll{border:solid 1px #ccc;background:#fff;}
.tb_iscroll table{margin:0;border:none;}
.tb_iscroll>.tb_iscrollTop td{background:#f0f0f0;border-right:solid 1px #ccc;font-weight:700}
.tb_iscroll>.tb_iscrollTop td:last-child{border-right:none;}
.tb_iscroll>.scrollable{position: relative;max-height: 210px;width: 100%;overflow: hidden;}
.tb_iscroll>.scrollable th{overflow:hidden;width:1px;height: 1px;padding:0;margin-top: -1px;font-size: 0;line-height: 0;color:rgba(0,0,0,0)!important;border:none;}
.tb_iscroll>.scrollable td{border-right:solid 1px #ccc;}
.tb_iscroll>.scrollable td:last-child{border-right:none;}
.tb_iscroll>.scrollable tr:last-child td{border-bottom:none;}

.max_h210{max-height: 210px;}

/* select */
select{-webkit-appearance:button;-webkit-padding-end:20px;-webkit-padding-start:2px;-webkit-user-select: none;background:url('../images/cn/btn/select_bg.png') 100% center no-repeat #fff;background-size: 33px 33px;border:1px solid #777;color:#414141;font-size: inherit;width:93.75%;overflow: hidden;padding: 5px 25px 4px 10px;text-overflow:ellipsis;white-space: nowrap;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin-right:8px;}
select:disabled{color:#999;background:url('../images/cn/btn/select_bg_off.png') 100% center no-repeat;background-size: 33px 33px;border-color:#ccc;}

.sel_wrap{
    display:block;
    position:relative;
    overflow:hidden;
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding-right:79px;
    line-height:36px;
    }
.sel_wrap>select{width:100%;margin-right:0;}
.sel_wrap>.btn_com{position:absolute;top:0;right:0;}

/* input */
input[type=tel], input[type=text], input[type=password]{padding:0 7px;border:solid 1px #777;height:35px;line-height: 35px;color:#999;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#f5f5f5;font-size:15px}
input[type=tel]:focus,input[type=text]:focus, input[type=password]:focus{border:solid 2px #0694ec;color:#333;background:#fff;padding:0 7px;}
input[type=tel]:disabled, input[type=text]:disabled, input[type=password]:disabled{color:#000;background:#d1d1d1;}
input[type=tel].no_inp,input[type=text].no_inp, input[type=password].no_inp{border-color:#dedede;color:#000;background:#fff}
input[type=tel].com_inp,input[type=text].com_inp, input[type=password].com_inp{border-color:#dedede;color:#000;background:#fff}

.mon_inp{position:relative;height:35px;display:inline-block;}
.mon_inp span{position:absolute;top:5px;right:10px;}
.mon_inp input:focus{padding-right:34px;}
.mon_inp input{padding-right:35px;color:#0266b2;width:100%;}

.new_sum>p>.mon_inp{width:100%;}

/* checkbox */
input[type=checkbox]{display:inline-block;position:absolute;opacity:0;z-index:-1}
input[type=checkbox]+label{display:inline-block;cursor:pointer;position:relative;padding-left:30px;/*margin:2px 15px 0 0;*/line-height:25px}
input[type=checkbox]+label:before{content:"";display:inline-block;width:25px;height:25px;position:absolute;left:0;top:0px;background:url('../images/cn/btn/btn_check_off.png') left top no-repeat;background-size:25px 25px}
input[type=checkbox]:focus+label:before{content:"";display:inline-block;width:25px;height:25px;position:absolute;left:0;top:0px;background:url('../images/cn/btn/btn_check_focus_off.png') left top no-repeat;background-size:25px 25px}
input[type=checkbox]:checked+label:before{background:url('../images/cn/btn/btn_check_on.png') left top no-repeat;text-align:center;line-height:25px;background-size:25px 25px}
input[type=checkbox]:checked:focus+label:before{background:url('../images/cn/btn/btn_check_focus_on.png') left top no-repeat;text-align:center;line-height:25px;background-size:25px 25px}
input.ds_check[type=checkbox]:disabled+label:before{background:url('../images/cn/btn/btn_check_chdi.png') left top no-repeat;text-align:center;line-height:25px;background-size:25px 25px}
input[type=checkbox]:disabled+label:before{background:url('../images/cn/btn/btn_check_disabled.png') left top no-repeat;text-align:center;line-height:25px;background-size:25px 25px}
input[type=checkbox]:checked:disabled+label:before,
input[type=checkbox].chk_disabled+label:before{background:url('../images/cn/btn/btn_check_on_disabled.png') left top no-repeat;text-align:center;line-height:25px;background-size:25px 25px}

input[type=checkbox].blu_check+label{display:inline-block;cursor:pointer;position:relative;padding-left:23px;line-height:16px}
input[type=checkbox].blu_check+label:before{content:"";display:inline-block;width:18px;height:16px;position:absolute;left:0;top:0px;background:url('../images/cn/img/img_checkOff.png') left top no-repeat;background-size:18px 16px}
input[type=checkbox].blu_check:focus+label:before{content:"";display:inline-block;width:18px;height:16px;position:absolute;left:0;top:0px;background:url('../images/cn/img/img_checkOff_focus.png') left top no-repeat;background-size:18px 16px}
input[type=checkbox].blu_check:checked+label:before{background:url('../images/cn/img/img_checkOn.png') left top no-repeat;text-align:center;line-height:18px;background-size:18px 16px}
input[type=checkbox].blu_check:checked:focus+label:before{background:url('../images/cn/img/img_checkOn_focus.png') left top no-repeat;text-align:center;line-height:18px;background-size:18px 16px}


.check_type01, .check_type02 {overflow:hidden;width:100%;border-radius:3px;}
.check_type01 input[type=checkbox], .check_type02 input[type=checkbox]{display:block;position:absolute;opacity:0;z-index:-1}
.check_type01 input[type=checkbox]+label,
.ui-checkbox label {text-align:center;letter-spacing:-1px;display:block;cursor:pointer;position:relative;padding-left: 0px;font-size:15px;line-height:33px;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:solid 1px #777;}
.check_type01 input[type=checkbox]:checked+label,
.ui-checkbox .ui-checkbox-on {padding-left:0px;border:solid 2px #333;line-height:31px;}

.check_type01 input[type=checkbox]:focus+label,
.ui-checkbox label:focus, 
.check_type01 input[type=checkbox]:checked:focus+label,
.ui-checkbox .ui-checkbox-on:focus {outline:solid 1px #0694ec}

.check_type02 input[type=checkbox]+label{text-align:center;letter-spacing:-1px;display:block;cursor:pointer;position:relative;padding-left: 0px;font-size:15px;line-height:38px;color:#aaa;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:solid 1px #aaa;}
.check_type02 input[type=checkbox]:checked+label{text-align:center;color:#53ace8;padding-left:0px;border:solid 1px #53ace8}
.check_type01 input[type=checkbox]+label:before, .check_type02 input[type=checkbox]+label:before, .check_type01 input[type=checkbox]:checked+label:before, .check_type02 input[type=checkbox]:checked+label:before{background:none}

.check_type01.rad02, .check_type02.rad02{width:100%;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.check_type01.rad02 li, .check_type02.rad02 li{width:49%; float:left;margin:0 2% 5px 0}

.check_type01.rad03, .check_type02.rad03{width:100%;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.check_type01.rad03 li, .check_type02.rad03 li{width:32%; float:left;margin:0 2% 5px 0}
.check_type01.rad02 li:last-child, .check_type01.rad02 li:nth-child(2n), .check_type01.rad03 li:nth-child(3n), .check_type01.rad03 li:last-child, .check_type02.rad02 li:last-child, .check_type02.rad02 li:nth-child(2n), .radio_type02.rad03 li:nth-child(3n), .radio_type02.rad03 li:last-child{margin-right:0}

.check_type03 input[type=checkbox]{display:block;position:absolute;left:0;z-index:-1}
.check_type03 input[type=checkbox]+label:before{background:none}
.check_type03 input[type=checkbox]+label{display:inline-block;cursor:pointer;position:relative;padding:0 10px;height:100%;padding-left: 30px;/*margin:2px 15px 0 0;*/line-height:35px;background:url('../images/cn/btn/btn_check.png') 10px center no-repeat #3598db;background-size:15px 12px;color:#fff;/*border:solid 1px #ccc;*/box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.check_type03 input[type=checkbox]:checked+label:before{background:none;}
.check_type03 input[type=checkbox]:checked+label{background:url('../images/cn/btn/btn_check.png') 10px center no-repeat #666;background-size:15px 12px;color:#fff;padding-left:30px}
.check_type03 input[type=checkbox]:focus+label, .check_type03 input[type=checkbox]:checked:focus+label{outline:solid 1px #0694ec}

/* radio */
input[type=radio]{display:inline-block;position:absolute;margin:10px 0 0 10px;z-index:-1;opacity:0}
input[type=radio]+label{display:inline-block;cursor:pointer;position:relative;padding-left:35px;/*margin:2px 15px 0 0;*/line-height:30px;margin:0 10px 0px 0;}
input[type=radio]+label:before{content:"";display:inline-block;width:30px;height:30px;position:absolute;left:0;top:0px;background:url('../images/cn/btn/btn_radio_off.png') left top no-repeat;background-size:30px 30px}
input[type=radio]:focus+label:before{content:"";display:inline-block;width:30px;height:30px;position:absolute;left:0;top:0px;background:url('../images/cn/btn/btn_radio_focus_off.png') left top no-repeat;background-size:30px 30px}
input[type=radio]:checked+label:before{background:url('../images/cn/btn/btn_radio_on.png') left top no-repeat;text-align:center;line-height:30px;background-size:30px 30px}
input[type=radio]:checked:focus+label:before{background:url('../images/cn/btn/btn_radio_focus_on.png') left top no-repeat;text-align:center;line-height:30px;background-size:30px 30px}
input.ds_check[type=radio]:disabled+label:before{background:url('../images/cn/btn/btn_radio_chdi.png') left top no-repeat;text-align:center;line-height:30px;background-size:30px 30px}
input[type=radio]:disabled+label:before{background:url('../images/cn/btn/btn_radio_disabled.png') left top no-repeat;text-align:center;line-height:30px;background-size:30px 30px}

.radio_type01, .radio_type02 {overflow:hidden;width:100%;border-radius:3px;}
.radio_type01 input[type=radio], .radio_type02 input[type=radio]{display:block;position:absolute;z-index:-1}
.radio_type01 input[type=radio]+label{text-align:center;letter-spacing:-1px;display:block;cursor:pointer;position:relative;padding-left: 0px;font-size:15px;line-height:33px;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:solid 1px #777;margin-right:0;}
.radio_type01 input[type=radio]:focus+label{outline:solid 1px #0694ec;}
.radio_type01 input[type=radio]:checked+label{padding-left:0px;border:solid 2px #333;line-height:31px;background:#fff;}
.radio_type01 input[type=radio]:checked:focus+label{outline:solid 1px #0694ec;}

.radio_type02 input[type=radio]+label{text-align:center;letter-spacing:-1px;display:block;cursor:pointer;position:relative;padding-left: 0px;font-size:15px;line-height:38px;color:#aaa;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;-khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:solid 1px #aaa;}
.radio_type02 input[type=radio]:checked+label{text-align:center;color:#53ace8;padding-left:0px;border:solid 1px #53ace8}
.radio_type01 input[type=radio]+label:before, .radio_type02 input[type=radio]+label:before{background:#fff;width:1px;height:1px;}
.radio_type01 input[type=radio]:checked+label:before, .radio_type02 input[type=radio]:checked+label:before{background:#333;width:1px;height:1px;}

.radio_type01.rad01>li, .check_type01.rad01>li{margin-bottom:5px;}
.radio_type01.rad02, .radio_type02.rad02{width:100%;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.radio_type01.rad02 li, .radio_type02.rad02 li{width:49%; float:left;margin:0 2% 5px 0}

.radio_type01.rad03, .radio_type02.rad03{width:100%;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.radio_type01.rad03 li, .radio_type02.rad03 li{width:32%; float:left;margin:0 2% 5px 0}
.radio_type01.rad02 li:last-child, .radio_type01.rad02 li:nth-child(2n), .radio_type01.rad03 li:nth-child(3n), .radio_type01.rad03 li:last-child, .radio_type02.rad02 li:last-child, .radio_type02.rad02 li:nth-child(2n), .radio_type02.rad03 li:nth-child(3n), .radio_type02.rad03 li:last-child{margin-right:0}

.date_wrap{display:block;position:relative;overflow:hidden;box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;padding-right:40px;}
.date_wrap>input{width:100%;}
.date_wrap>a.dateBtn{
    position:absolute;
    top:0;
    right:0;
    display:block;
    border:solid 1px #777;
    -khtml-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:15px;
    color:rgba(0,0,0,0);
    width:34px;
    height:33px;
    background:url('../images/cn/btn/btn_date.png') center center no-repeat;
    background-size:22px 24px;
    overflow:hidden;
    }

/* terms */
.terms_area{border:solid 1px #ccc;margin-bottom:10px;}
.terms_area>.terms>dt, .terms_area>.terms>p{background:#f0f0f0;position:relative;padding:13px 108px 13px 10px;font-weight:700}
.terms_area>.terms>dt>a, .terms_area>.terms>dt>span, .terms_area>.terms>p>span{position:absolute;top:50%;right:10px;font-weight:normal;margin-top:-18px;}
.terms_area>.terms>dd{border-top:solid 1px #ccc;padding:10px 10px 20px 10px;}
.terms_area>.terms>dd.off {display:none;}
.terms_area>.terms>dd.ovYat {overflow-y:auto;height:auto;}
.terms_area>p{border-top:solid 1px #ccc;padding:10px;}

/* list_type */
.list_type01>li, p.dot{display: block;padding:0px 0px 5px 14px;color:#333333;background:url('../images/cn/icon/ic_notice_dot.png') 5px 9px no-repeat;background-size:4px 4px;}
.list_type01>li:last-child, p.dot:last-child{padding-bottom:12px;}
.list_type02>li, p.dot01{display: block;padding:0px 0px 5px 14px;color:#333333;background:url('../images/cn/icon/ic_notice_dot01.png') 5px 9px no-repeat;background-size:5px 2px;}
.list_type02>li:last-child, p.dot:last-child{padding-bottom:6px;}
.list_type03>li, p.dot02{display: block;padding:0px 0px 5px 14px;color:#333333;background:url('../images/cn/icon/ic_notice_dot02.png') 5px 9px no-repeat;background-size:3px 3px;}
.list_type03>li:last-child, p.dot:last-child{padding-bottom:6px;}
.list_type01>li.point,
.list_type02>li.point,
.list_type03>li.point,
.topnotice>ul>li.point {background:url('../images/cn/icon/Icon_Bulit.png') 5px 7px no-repeat;background-size:10px;padding-left:20px;}

.topnotice{overflow: hidden;background: #f0f0f0;border: 1px solid #cccccc;border-top: 2px solid #1046a0;font-size: 15px;position: relative;margin-bottom: 30px;padding:10px 10px 12px 10px;}
.topnotice>ul{}
.topnotice>ul>li{display: block;padding: 0px 0px 0px 14px;color: #333333;background: url('../images/cn/icon/ic_notice_dot.png') 5px 9px no-repeat;background-size: 4px 4px;}

.no_data{border:solid 1px #ccc;background:url('../images/cn/icon/ic_nodata.png') center 20px no-repeat #f5f5f5;background-size:34px 34px;text-align:center;padding:60px 0 15px 0;margin-bottom:10px;}

/* Bootstrap Grid */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{position: relative; min-height: 1px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 { float: left;}

.col-xs-1{width:8.333333333333332%;}
.col-xs-2{width:16.666666666666664%;}
.col-xs-3{width:25%;}
.col-xs-4{width:33.33333333333333%;}
.col-xs-5{width:41.66666666666667%;}
.col-xs-6{width:50%;}
.col-xs-7{width:58.333333333333336%;}
.col-xs-8{width:66.66666666666666%;}
.col-xs-9{width:75%;}
.col-xs-10{width:83.33333333333334%;}
.col-xs-11{width:91.66666666666666%;}
.col-xs-12{width:100%;}
.col-xs-push-1{left: 8.333333333333332%;}
.col-xs-push-2{left: 16.666666666666664%;}
.col-xs-push-3{left: 25%;}
.col-xs-push-4{left: 33.33333333333333%;}
.col-xs-push-5{left: 41.66666666666667%;}
.col-xs-push-6{left: 50%;}
.col-xs-push-7{left: 58.333333333333336%;}
.col-xs-push-8{left: 66.66666666666666%;}
.col-xs-push-9{left: 75%;}
.col-xs-push-10{left: 83.33333333333334%;}
.col-xs-push-11{left: 91.66666666666666%;}
.col-xs-pull-1{right: 8.333333333333332%;}
.col-xs-pull-2{right: 16.666666666666664%;}
.col-xs-pull-3{right: 25%;}
.col-xs-pull-4{right: 33.33333333333333%;}
.col-xs-pull-5{right: 41.66666666666667%;}
.col-xs-pull-6{right: 50%;}
.col-xs-pull-7{right: 58.333333333333336%;}
.col-xs-pull-8{right: 66.66666666666666%;}
.col-xs-pull-9{right: 75%;}
.col-xs-pull-10{right: 83.33333333333334%;}
.col-xs-pull-11{right: 91.66666666666666%;}
.col-xs-offset-1{margin-left: 8.333333333333332%;}
.col-xs-offset-2{margin-left: 16.666666666666664%;}
.col-xs-offset-3{margin-left: 25%;}
.col-xs-offset-4{margin-left: 33.33333333333333%;}
.col-xs-offset-5{margin-left: 41.66666666666667%;}
.col-xs-offset-6{margin-left: 50%;}
.col-xs-offset-7{margin-left: 58.333333333333336%;}
.col-xs-offset-8{margin-left: 66.66666666666666%;}
.col-xs-offset-9{margin-left: 75%;}
.col-xs-offset-10{margin-left: 83.33333333333334%;}
.col-xs-offset-11{margin-left: 91.66666666666666%;}

@media (min-width: 768px) {
  .container { max-width: 750px;}
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {float: left;}
  .col-sm-1{width: 8.333333333333332%;}
  .col-sm-2{width: 16.666666666666664%;}
  .col-sm-3{width: 25%;}
  .col-sm-4{width: 33.33333333333333%;}
  .col-sm-5{width: 41.66666666666667%;}
  .col-sm-6{width: 50%;}
  .col-sm-7{width: 58.333333333333336%;}
  .col-sm-8{width: 66.66666666666666%;}
  .col-sm-9{width: 75%;}
  .col-sm-10{width: 83.33333333333334%;}
  .col-sm-11{width: 91.66666666666666%;}
  .col-sm-12{width: 100%;}
  .col-sm-push-1{left: 8.333333333333332%;}
  .col-sm-push-2{left: 16.666666666666664%;}
  .col-sm-push-3{left: 25%;}
  .col-sm-push-4{left: 33.33333333333333%;}
  .col-sm-push-5{left: 41.66666666666667%;}
  .col-sm-push-6{left: 50%;}
  .col-sm-push-7{left: 58.333333333333336%;}
  .col-sm-push-8{left: 66.66666666666666%;}
  .col-sm-push-9{left: 75%;}
  .col-sm-push-10{left: 83.33333333333334%;}
  .col-sm-push-11{left: 91.66666666666666%;}
  .col-sm-pull-1{right: 8.333333333333332%;}
  .col-sm-pull-2{right: 16.666666666666664%;}
  .col-sm-pull-3{right: 25%;}
  .col-sm-pull-4{right: 33.33333333333333%;}
  .col-sm-pull-5{right: 41.66666666666667%;}
  .col-sm-pull-6{right: 50%;}
  .col-sm-pull-7{right: 58.333333333333336%;}
  .col-sm-pull-8{right: 66.66666666666666%;}
  .col-sm-pull-9{right: 75%;}
  .col-sm-pull-10{right: 83.33333333333334%;}
  .col-sm-pull-11{right: 91.66666666666666%;}
  .col-sm-offset-1{margin-left: 8.333333333333332%;}
  .col-sm-offset-2{margin-left: 16.666666666666664%;}
  .col-sm-offset-3{margin-left: 25%;}
  .col-sm-offset-4{margin-left: 33.33333333333333%;}
  .col-sm-offset-5{margin-left: 41.66666666666667%;}
  .col-sm-offset-6{margin-left: 50%;}
  .col-sm-offset-7{margin-left: 58.333333333333336%;}
  .col-sm-offset-8{margin-left: 66.66666666666666%;}
  .col-sm-offset-9{margin-left: 75%;}
  .col-sm-offset-10{margin-left: 83.33333333333334%;}
  .col-sm-offset-11{margin-left: 91.66666666666666%;}
}

@media (min-width: 992px) {
  .container{max-width: 970px;}
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 { float: left;}
  .col-md-1{width: 8.333333333333332%;}
  .col-md-2{width: 16.666666666666664%;}
  .col-md-3{width: 25%;}
  .col-md-4{width: 33.33333333333333%;}
  .col-md-5{width: 41.66666666666667%;}
  .col-md-6{width: 50%;}
  .col-md-7{width: 58.333333333333336%;}
  .col-md-8{width: 66.66666666666666%;}
  .col-md-9{width: 75%;}
  .col-md-10{width: 83.33333333333334%;}
  .col-md-11{width: 91.66666666666666%;}
  .col-md-12{width: 100%;}
  .col-md-push-0{left: auto;}
  .col-md-push-1{left: 8.333333333333332%;}
  .col-md-push-2{left: 16.666666666666664%;}
  .col-md-push-3{left: 25%;}
  .col-md-push-4{left: 33.33333333333333%;}
  .col-md-push-5{left: 41.66666666666667%;}
  .col-md-push-6{left: 50%;}
  .col-md-push-7{left: 58.333333333333336%;}
  .col-md-push-8{left: 66.66666666666666%;}
  .col-md-push-9{left: 75%;}
  .col-md-push-10{left: 83.33333333333334%;}
  .col-md-push-11{left: 91.66666666666666%;}
  .col-md-pull-0{right: auto;}
  .col-md-pull-1{right: 8.333333333333332%;}
  .col-md-pull-2{right: 16.666666666666664%;}
  .col-md-pull-3{right: 25%;}
  .col-md-pull-4{right: 33.33333333333333%;}
  .col-md-pull-5{right: 41.66666666666667%;}
  .col-md-pull-6{right: 50%;}
  .col-md-pull-7{right: 58.333333333333336%;}
  .col-md-pull-8{right: 66.66666666666666%;}
  .col-md-pull-9{right: 75%;}
  .col-md-pull-10{right: 83.33333333333334%;}
  .col-md-pull-11{right: 91.66666666666666%;}
  .col-md-offset-0{margin-left: 0;}
  .col-md-offset-1{margin-left: 8.333333333333332%;}
  .col-md-offset-2{margin-left: 16.666666666666664%;}
  .col-md-offset-3{margin-left: 25%;}
  .col-md-offset-4{margin-left: 33.33333333333333%;}
  .col-md-offset-5{margin-left: 41.66666666666667%;}
  .col-md-offset-6{margin-left: 50%;}
  .col-md-offset-7{margin-left: 58.333333333333336%;}
  .col-md-offset-8{margin-left: 66.66666666666666%;}
  .col-md-offset-9{margin-left: 75%;}
  .col-md-offset-10{margin-left: 83.33333333333334%;}
  .col-md-offset-11{margin-left: 91.66666666666666%;}
}

@media (min-width: 1200px) {
  .container {max-width: 1170px;}
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {float: left;}
  .col-lg-1{width: 8.333333333333332%;}
  .col-lg-2{width: 16.666666666666664%;}
  .col-lg-3{width: 25%;}
  .col-lg-4{width: 33.33333333333333%;}
  .col-lg-5{width: 41.66666666666667%;}
  .col-lg-6{width: 50%;}
  .col-lg-7{width: 58.333333333333336%;}
  .col-lg-8{width: 66.66666666666666%;}
  .col-lg-9{width: 75%;}
  .col-lg-10{width: 83.33333333333334%;}
  .col-lg-11{width: 91.66666666666666%;}
  .col-lg-12{width: 100%;}
  .col-lg-push-0{left: auto;}
  .col-lg-push-1{left: 8.333333333333332%;}
  .col-lg-push-2{left: 16.666666666666664%;}
  .col-lg-push-3{left: 25%;}
  .col-lg-push-4{left: 33.33333333333333%;}
  .col-lg-push-5{left: 41.66666666666667%;}
  .col-lg-push-6{left: 50%;}
  .col-lg-push-7{left: 58.333333333333336%;}
  .col-lg-push-8{left: 66.66666666666666%;}
  .col-lg-push-9{left: 75%;}
  .col-lg-push-10{left: 83.33333333333334%;}
  .col-lg-push-11{left: 91.66666666666666%;}
  .col-lg-pull-0{right: auto;}
  .col-lg-pull-1{right: 8.333333333333332%;}
  .col-lg-pull-2{right: 16.666666666666664%;}
  .col-lg-pull-3{right: 25%;}
  .col-lg-pull-4{right: 33.33333333333333%;}
  .col-lg-pull-5{right: 41.66666666666667%;}
  .col-lg-pull-6{right: 50%;}
  .col-lg-pull-7{right: 58.333333333333336%;}
  .col-lg-pull-8{right: 66.66666666666666%;}
  .col-lg-pull-9{right: 75%;}
  .col-lg-pull-10{right: 83.33333333333334%;}
  .col-lg-pull-11{right: 91.66666666666666%;}
  .col-lg-offset-0{margin-left: 0;}
  .col-lg-offset-1{margin-left: 8.333333333333332%;}
  .col-lg-offset-2{margin-left: 16.666666666666664%;}
  .col-lg-offset-3{margin-left: 25%;}
  .col-lg-offset-4{margin-left: 33.33333333333333%;}
  .col-lg-offset-5{margin-left: 41.66666666666667%;}
  .col-lg-offset-6{margin-left: 50%;}
  .col-lg-offset-7{margin-left: 58.333333333333336%;}
  .col-lg-offset-8{margin-left: 66.66666666666666%;}
  .col-lg-offset-9{margin-left: 75%;}
  .col-lg-offset-10{margin-left: 83.33333333333334%;}
  .col-lg-offset-11{margin-left: 91.66666666666666%;}
}

span.dualTitle70 {display:inline-block;width:70px;}
span.dualTitle80 {display:inline-block;width:80px;}



